{% extends 'base.html' %}

{% block title %}Worker List{% endblock %}

{% block content %}
  <form action="{% url 'workers:worker_list_delete' worker_list.pk %}" method="POST">
    {% csrf_token %}
    <button>Delete Worker List</button>
  </form>
  <form action="{% url 'workers:worker_list_update' worker_list.pk %}" method="POST">
    {% include 'include/post_form_content.html' %}
    <button>Save changes</button>
  </form>

  <div>{{ worker_list.title }}</div>
  <ul>
    {% for worker in workers %}
      <li>{{ worker.first_name }}</li>
    {% endfor %}
  </ul>
{% endblock %}