{% if page_obj.has_previous %}
  {% if page_obj.number|add:'-3' > 1 %}
    <a href="?{{ q }}page=1">1</a>
  {% endif %}
  {% if page_obj.number|add:'-3' > 2 %}
    <a href="?{{ q }}page={{ page_obj.previous_page_number|add:'-3' }}">. . .</a>
  {% endif %}
{% endif %}

{% if paginator.page_range|length > 1 %}
  {% for i in paginator.page_range %}
    {% if i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
      <a href="?{{ q }}page={{ i }}">{{ i }}</a>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page_obj.has_next %}
  {% if page_obj.number|add:'4' < paginator.num_pages %}
    <a href="?{{ q }}page={{ page_obj.next_page_number|add:'3' }}">. . .</a>
  {% endif %}
  {% if page_obj.number|add:'3' < paginator.num_pages %}
    <a href="?{{ q }}page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
  {% endif %}
{% endif %}