{% extends 'base.html' %}

{% block title %}Worker List{% endblock %}

{% block content %}
  <form action="{% url 'workers:worker_list_delete' worker_list.pk %}" method="POST">
    {% csrf_token %}
    <button>Delete Worker List</button>
  </form>
  <form action="{% url 'workers:worker_list_update' worker_list.pk %}" method="POST">
    {% include 'include/post_form_content.html' %}
    <button>Save changes</button>
  </form>

  <div>{{ worker_list.title }}</div>
  <form action="{% url 'workers:workers_search' worker_list.pk %}" method="GET">
    <input type="search" placeholder="Enter Info About Worker..." name="q">
    <button>Search</button>
  </form>
  <form action="{% url 'workers:workers_filter' worker_list.pk %}" method="GET">
    <span>active</span>
    <input type="checkbox" name="status" value="active">
    <span>time off</span>
    <input type="checkbox" name="status" value="time_off">
    <span>vacation</span>
    <input type="checkbox" name="status" value="vacation">
    <span>overtime</span>
    <input type="checkbox" name="status" value="overtime">
    <span>sick</span>
    <input type="checkbox" name="status" value="sick">
    <span>decree</span>
    <input type="checkbox" name="status" value="decree">
    <button>Filter</button>
  </form>
  <ul>
    {% for worker in page_obj %}
      <li>
        <div>{{ worker.first_name }}</div>
        <div>{{ worker.middle_name }}</div>
        <div>{{ worker.last_name }}</div>
      </li>
    {% endfor %}
  </ul>

  {% include 'include/pagination.html' %}
{% endblock %}