<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <form action="{% url 'accounts:registration' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}</p>
            {% if field.errors %}
                <h4 style="color: darkred">{{ field.errors }}</h4>
            {% endif %}
            <p>{{ field }}</p>
        {% endfor %}
        <button>Create</button>
    </form>
    <p>Already have an account?</p>
    <a href="{% url 'accounts:login' %}">Log in</a>
</body>
</html>